
.container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #FFFF00;
        padding: 10px;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: url('/image/game.jpg');
        .list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .list>li{
            list-style-type: none;
        }
       .number{
           width: 80px;
           font-size:80px;
           }
            
        .bigger_than_one{
            font-size: 40px;
            margin: 10px 0px;
        }
       
    .button{
        width: 250px;
        height: 60px;
        background: linear-gradient(#f7f2db, #ffb300); 
        outline: none;
        border: none;
        border-radius: 7px;
        box-shadow: 0px 4px 3px 2px grey;
        font-size: x-large;
        font-weight: bold;
        font-style: italic;
        }
    .quantity{
        .text{
            margin: 10px 0px;
        }
        .betweenNumber{
            width: 60px;
            outline: none;
            border-radius: 4px;
            height: 28px;
            border: none;
            box-shadow: 0 0.5px 3px 1px gray inset;
            padding: 5px;
        }
         
    }
  
}